*{
    margin: 0;
    padding: 0;
    /*border: 1px solid rebeccapurple;*/
}

:root{
    --ff-primary: "roboto", sans-serif;
    --cor-1: #b6e2f5;
    --cor-2: #0467ca;
}

/*CONFIGURAÇÕES GERAIS*/
#container {
    width: 300px;
    margin: 60px auto 20px auto;
    padding:20px;
    border-radius: 45px;
    background: linear-gradient(var(--cor-1),var(--cor-2));
}
a {
    text-decoration: none;
    color:lightblue;
    font-size: 18px;
}
body {
    background: var(--cor-1) url("img/linha.png");
}

/*JANELA DE LOGIN*/
.login {
    border-bottom: 3px solid var(--cor-1)
}
.login_logo {
    width: 250px;
    height: auto;
}
.login_titulo {
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 15px;
}
.login_dados {
    display: flex;
	flex-direction: column;
    width:250px;
    margin: 35px auto;
}
.form_ID{
	width: 80%;
	margin: 0 10%;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
}
.form_senha{
	width: 80%;
	margin: 0 10%;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
}
.bt_entrar {
    padding: 10px;
	width: 50%;
	margin: 0 25%;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(to right, var(--cor-1), var(--cor-2));
	cursor: pointer;
}
form > a {
    margin-top: 20px;
    text-align: center;
}
.login_descricao {
    text-align: center;
    color: lightblue;
    font-size: 18px;
    margin-top: 37px;
}
.login_descricao a {
    font-weight: 700;
}