*{
    margin: 0;
    padding: 0;
}

:root{
    --ff-primary: "roboto", sans-serif;
    --cor-1: #b6e2f5;
    --cor-2: #0467ca;
}
/*CABEÇALHO MENU*/
.cabeca {
    background: linear-gradient(var(--cor-1), var(--cor-2));
}
.cabeca_logo img {
    width: 200px;
    margin: auto;
    display: block;
}
.cabeca_menu {
    width: 350px;
    display: block;
    margin: auto;
}
.cabeca_lista li {
    display: inline-block;
}
.cabeca_lista li a {
    display: block;
    color:var(--cor-1);
    text-decoration: none;
    line-height: 2.2em;
    padding: 0 2em;
}
.cabeca_lista li a:hover {
    background: var(--cor-1);
    color: var(--cor-2);
}